@media (min-aspect-ratio: 9/8) {
    .progressContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40vw;
        transition-duration: 0.2s;
    }
}

@media (max-aspect-ratio: 9/8) {
    .progressContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        transition-duration: 0.2s;
    }
}

.progress {
    transition-duration: 0.2s;
}

.progress::-webkit-progress-value {
    transition: width 0.4s ease;
}

.showProgress-enter {
    opacity: 0;
}

.showProgress-enter-active {
    opacity: 1;
    transition: opacity 200ms;
}

.showProgress-exit {
    opacity: 1;
}

.showProgress-exit-active {
    opacity: 0;
    transition: opacity 200ms;
}