@media (min-aspect-ratio: 9/8) {
  html{
    background-image: url('./img/ORBIT.png');
    background-size: contain;
    background-position-x: -5px;
    background-position-y: 5px;
    background-repeat: no-repeat;
    /* display: flex; */
    height: 99vh;
    overflow: hidden;
    transition-duration: 0.2s
  }
}

@media (max-aspect-ratio: 9/8) {
  html{
    background-image: url('./img/ORBIT.png');
    background-size: contain;
    background-position-x: -500px;
    background-position-y: 5px;
    background-repeat: no-repeat;
    /* display: flex; */
    height: 99vh;
    overflow: hidden;
    transition-duration: 0.2s;
  }
}


.marbl {
  padding: 32px;

}

.axibo {
  padding: 32px;
}

.selector{
  display: flex;
  align-items: center;
  width: 100vw;
  height: 80vh;
  flex-direction: column;
  padding: 1rem;
}

.buttonContainer{
  margin: 1rem;
}

.button {
  margin: 3px;
}
